[Unit]
Description=VM Profiler Service

[Service]
User=$MY_USER
ExecStart=~/Desktop/git/vm_profiler/runAllTests.bash

[Install]
WantedBy=multi-user.target